.App {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.App h2 {
  font-size: 30px;
}

.App span {
  color: blue;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.loading{
  margin: 80px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
